body{
background-color: pink;
  font-family: Arial, Helvetica, sans-serif;

}

.dado{
background-image:url(https://i.pinimg.com/originals/0b/61/ba/0b61ba096406865f0e76a9b07e36dc69.png);
background-position:-803px;
width:157px;
height:156px;
}
#contenedor_dados{
display:flex;
width:315px;
margin:0 auto;
}

#boton_tirar{
display:block;
width:100px;
height:60px;
margin:10px auto;
background-color:#F10957;
color:#FFFFFF;
border:0;
border-radius:10px;
cursor:pointer;


}
